[Unit]
Description=AYVAtech automatic first-time home server setup
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/lib/ayvatech-home-server-installer/bootstrap.sh
StandardOutput=append:/var/log/ayvatech-home-server-install.log
StandardError=append:/var/log/ayvatech-home-server-install.log
[Install]
WantedBy=multi-user.target
